*{
    margin:0;
    padding: 0;
}

.home-container{
    font-family: 'Times New Roman', Times, serif;
    display: flex;

    width: 100vw;
}

.home-page-left{
    width:50%;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 60px;
    background: white;
    
}
.home-page-right{
    width: 50%;
    
}
.home-page-right img{
    width: 100%;
}

.home-page-top-heading-1{
    color: rgb(226, 109, 109);
    font-weight: bold;
}

.home-page-top-para{
    color: rgb(226, 109, 109);

}
.home-page-left button{
    width: 40%;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: light;
    border: none;
    background:rgb(9, 137, 187);
    color: white;
    padding: 8px;
    border-radius: 3px;
}

.top-links-img{
    width: 95vw;
    position: relative;
    top:30px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 14%;
    align-items: center;
    justify-content: center;
    background: white;
}
.top-links-img img{
    width: 10%;

}


.bottom-boy-container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    background: whitesmoke;
    position: relative;
    top: 80px;
}
.bottom-boy-container-left{
    width: 50%;
}
.bottom-boy-container-left img{
    width: 60%;
    padding: 20px  50px;
    
}
.bottom-boy-container-right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20%;
    position: relative; 

}

.bottom-boy-container-right-text{
    width: 80%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: normal;
   margin-top: 10%;
}


.right-boy-container-card{
       width: 100%;
        padding: 10px;
        margin-top: 10%;
       display: flex;
       flex-direction: column;
       gap: 15%;

}
.cards-item-1{
      width: 28%;
      height: 40%;
      padding: 10px 10px;
      border: 1px dotted rgb(226, 109, 109);
      color: rgb(247, 128, 119);
      font-weight: 600;
      /* background-color: rgb(231, 142, 109); */
}
.card-1-arrow{
   width: 25%;
   position: relative;
   top:-30px;
   left: 32%;
}


.cards-item-2{
    width: 28%;
    height: 30%;
    padding: 12px 12px;
    position: relative;
    left: 40%;
    border: 1px dotted rgb(226, 109, 109);
    color: rgb(247, 128, 119);
    font-weight: 600;

}
.card-2-arrow{
    width: 25%;
    position: relative;
    top:-30px;
    left: 14%;
   }


.cards-item-3{
    width: 28%;
    height: 40%;
    padding: 10px 10px;
    border: 1px dotted rgb(226, 109, 109);
    color: rgb(247, 128, 119);
    font-weight: 600;
    /* background-color: rgb(231, 142, 109); */
}
.card-3-arrow{
 width: 25%;
 position: relative;
 top:-30px;
 left: 32%;
}

.cards-item-4{
    width: 28%;
    height: 30%;
    padding: 12px 12px;
    position: relative;
    left: 40%;
    border: 1px dotted rgb(226, 109, 109);
    color: rgb(247, 128, 119);
    font-weight: 600;

}
.card-4-arrow{
    width: 25%;
    position: relative;
    top:-20%;
    left: 15%;
   }


.course-card-container{
    width: 100vw;
    background: white;
   }