.nav-container{
    width: 100%;
    background-color: white;
    box-shadow: 40px rgb(143, 138, 138);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid rgb(199, 192, 192);
}
.nav-container div{
    width: 47%;

    
}


  .logo-img{
    width: 15%;
    position: relative;
    left: 30px;
}

.button-container{
    
    
    display: flex;
    justify-content: center;
    width: 48%;
    height: 7%;
      gap: 4%;
      position: relative;
      top: 10px;
}

.login-btn{
    color: #ff219f;
    background: white;
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: bolder;
    border: 1px solid #ff219f;
    float: right;
    right: 0px;
}
.login-btn:hover{
    color: black;
    cursor: pointer;
}
.login-btn Link{
    text-decoration: none;
}

.signup-btn{
    color:white;
    background: #ff219f;
    width: 80px;
    padding: 4px 4px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid rgb(255, 192, 236);
    
}
.signup-btn Link{
    text-decoration: none;
}
.signup-btn:hover{
    color: black;
    cursor: pointer;
}


.nav-link-container{
    width: 50%;
    height: 25px;
  position: relative;
  bottom: 0px;  
  left: 50%;
    border:1px solid black;
}