*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}

.register-container{
    width: 100vw;
    height: 100vh;
    background-image: url('https://s3.ap-south-1.amazonaws.com/www.prepbytes.com/images/blue-background.webp');
}

.register-all-item{
    width: 100vw;
    height:90vh;

    display: flex;
    flex-direction: row;
    
    gap: 1%;
    position: relative;
    top:5%
}
.img-container{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin-left: 5%;
}
.img-item{
     width: 55%;
     
}
.img-item img{
    width: 100%;
    height: 100%;
}
.card-item-register{
    width: 25%;
    height: 63%;
     margin-top: 10%;
     margin-left: 4%;
     background: white;
     border-radius: 3px;
     display: flex;
     flex-direction: column;
}
.card-item-register div{
    width: 100%;
     height: 20%;
    border: 1px solid black;
}



.register-form-container{
    width: 30%;
    height: 80%;
    border: 1px solid black;
    background: white;

}
