*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}

.register-container{
    width: 100vw;
    height: 100vh;
    background-image: url('https://s3.ap-south-1.amazonaws.com/www.prepbytes.com/images/blue-background.webp');
}

.register-all-item{
    width: 100vw;
    height:90vh;

    display: flex;
    flex-direction: row;
    
    gap: 1%;
    position: relative;
    top:5%
}
.img-container{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin-left: 5%;
}
.img-item{
     width: 55%;
     
}
.img-item img{
    width: 100%;
    height: 100%;
}
.card-item-register{
    width: 25%;
    height: 58%;
     margin-top: 10%;
     margin-left: 4%;
     background: white;
     border-radius: 3px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;

}


.logo-img-container{
    width: 80%;
    height: 20%;
    position: relative;
    top: -11%;
    left: 30%;
}

.logo-img-container img{
    
    width: 50%;
    
}
.rating-text{
    text-align: center;
}
.student-enrolled-item{
    
        width: 100%;
         height: 16%;
        margin-top: -10px;
        display: flex;
        flex-direction: row;
        gap: 4%;
        
        align-items: center;
        font-size:14px;
        justify-content: center;
}
/* .student-enrolled-item div{
    display: flex;
    width: 100%;
    flex-direction: row;
    
    
    flex-wrap: wrap;


} */
.student-enrolled-item img{
    width: 20%;
    height: 60%;
}

.register-form-container{
    width: 32%;
    height: 90%;
    
    border-radius: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.name-item,.password-item,.email-item,.phone-item,.bottom-div,.loginsinup{
    width: 80%;
    height: 10%;
    gap: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: lighter;
    color: rgb(163, 156, 156);
    font-size: 1rem;

}

label h3{
    font-weight: lighter;
}

.loginsinup h2{
      text-align: center;
    color: rgb(184, 177, 177);
    font-weight: bold;
}
#checkbox{
    border: 1px solid black;
    
}
.sinup-submit{
    width: 80%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    height:100% ;
    border-radius: 3px;
    font-size: 17px;
    color: white;
    background: #4b8ce8;
    border: none;
}

.loginsinup h2  Link{
    text-decoration: none;
    
}
.loginsinup h2 :hover{
    color: skyblue;
    border-bottom: 1px solid skyblue;
}
 .collegepassyear{
    display: flex;
    flex-direction:row;
    width: 100%;
    justify-content: space-between;

}
#name,#email,#password,#college,#passyear,#phone{
    height: 50%;   
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(128, 128, 128);
    
}

/* .college input{
    width: 100%;
} */

.passingyear{
    width: 42%;
    border-bottom: 1 px solid black;
    height: 100%;
}
#passyear{
    width: 100%;
}
.college{
    width: 42%;
    height: 100%;
    border-bottom: 1px solid black;
    border: none;
    outline: none;
    
} 














@media screen and (min-width:281px) and (max-width:422px){

    *{
        margin: 0;
        padding: 0;
    }
    body{
        overflow-x: hidden;
    }
    
    .register-container{
        width: 100vw;
        height: auto;
        background-image: url('https://s3.ap-south-1.amazonaws.com/www.prepbytes.com/images/blue-background.webp');
    }
    
    .register-all-item{
        width: 100vw;
        height: auto;
    
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 0;
        gap: 1rem;
        
    }
    .img-container{
        margin-top: 1rem;
        width: 100%;
        height: 8rem;
        display: flex;
        flex-direction: row;
        gap: 2%;
        margin-left: 0%;
    }
    .img-item{
         width: 55%;
         display: none;
         
    }
    .img-item img{
        width: 100%;
        height: 100%;
    }
    .card-item-register{
        width: 85%;
        height:100%;
         margin-top: 0%;
         margin-left: 0%;
         background: white;
         border-radius: 3px;
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
         margin: auto;
    
    }
    
    
    .logo-img-container{
        width: 80%;
        height: 10%;
        position: relative;
        top: -11%;
        left: 30%;
        display: none;
    }
    
    .logo-img-container img{
        
        width: 50%;
        
    }
    .rating-text{
        text-align: left;
    }
    .student-enrolled-item{
        
            width: 50%;
             height: 30%;
            margin-top: 0px;
            display: flex;
            flex-direction: row;
            gap: 4%;
            
            align-items: center;
            font-size:14px;
            justify-content: center;
    }
    /* .student-enrolled-item div{
        display: flex;
        width: 100%;
        flex-direction: row;
        
        
        flex-wrap: wrap;
    
    
    } */
    .student-enrolled-item img{
        width: 20%;
        height: 50%;
    }
    
    .register-form-container{
        width: 92%;
        height: 30rem;
        margin: auto;
        margin-bottom: 10%;
        
        border-radius: 10px;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    
    }
    .name-item,.password-item,.email-item,.phone-item,.bottom-div,.loginsinup{
        width: 80%;
        height: 10%;
        gap: 2%;
        margin-bottom: 2%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-weight: lighter;
        color: rgb(163, 156, 156);
        font-size: 1rem;
    
    }
    
    label h3{
        font-weight: lighter;
    }
    
    .loginsinup h2{
          text-align: center;
        color: rgb(184, 177, 177);
        font-weight: bold;
    }
    #checkbox{
        border: 1px solid black;
        
    }
    .sinup-submit{
        width: 80%;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        height:100% ;
        border-radius: 3px;
        font-size: 17px;
        color: white;
        background: #4b8ce8;
        border: none;
    }
    
    .loginsinup h2  Link{
        text-decoration: none;
        
    }
    .loginsinup h2 :hover{
        color: skyblue;
        border-bottom: 1px solid skyblue;
    }
     .collegepassyear{
        display: flex;
        flex-direction:row;
        width: 100%;
        justify-content: space-between;
    
    }
    input{
        border: none;
        outline: none;
        border-bottom: 1px solid rgb(128, 128, 128);
    }
    .college input{
        width: 100%;
    }
    
    .passingyear{
        width: 42%;
        
        height: 100%;
    }
    .passingyear input{
        width: 100%;
    }
    .college{
        width: 42%;
        height: 100%;
        
    } 
}



@media screen and (min-width:423px) and (max-width:922px){
    *{
        margin: 0;
        padding: 0;
    }
    body{
        overflow-x: hidden;
    }
    
    .register-container{
        width: 100vw;
        height: auto;
        
    }
    
    .register-all-item{
        width: 100vw;
        height: auto;
    
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
        gap: 1rem;
        
    }
    .img-container{
        margin-top: 1rem;
        width: 100%;
        height: 8rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2%;
        margin-left: 0%;
    }
    .img-item{
         width: 50%;
         
         margin: auto;
         
         
    }
    .img-item img{
        width: 100%;
        height: 100%;
    }
    .card-item-register{
        width: 100%;
        height:100%;
         margin-top: 0%;
         margin-left: 0%;
         background: white;
         border-radius: 3px;
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
         margin: auto;
    
    }
    
    
    .logo-img-container{
        width: 80%;
        height: 10%;
        position: relative;
        top: -11%;
        left: 30%;
        display: none;
    }
    
    .logo-img-container img{
        
        width: 50%;
        
    }
    .rating-text{
        text-align: left;
    }
    .student-enrolled-item{
        
            width: 50%;
             height: 30%;
            margin-top: 0px;
            display: flex;
            flex-direction: row;
            gap: 4%;
            
            align-items: center;
            font-size:14px;
            justify-content: center;
    }
    /* .student-enrolled-item div{
        display: flex;
        width: 100%;
        flex-direction: row;
        
        
        flex-wrap: wrap;
    
    
    } */
    .student-enrolled-item img{
        width: 20%;
        height: 50%;
    }
    
    .register-form-container{
        width: 100%;
        height: 30rem;
        
        border-radius: 10px;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    
    
    }
    .name-item,.password-item,.email-item,.phone-item,.bottom-div,.loginsinup{
        width: 80%;
        height: 10%;
        gap: 2%;
        margin-bottom: 2%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-weight: lighter;
        color: rgb(163, 156, 156);
        font-size: 1rem;
    
    }
    
    label h3{
        font-weight: lighter;
    }
    
    .loginsinup h2{
          text-align: center;
        color: rgb(184, 177, 177);
        font-weight: bold;
    }
    #checkbox{
        border: 1px solid black;
        
    }
    .sinup-submit{
        width: 80%;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        height:100% ;
        border-radius: 3px;
        font-size: 17px;
        color: white;
        background: #4b8ce8;
        border: none;
    }
    
    .loginsinup h2  Link{
        text-decoration: none;
        
    }
    .loginsinup h2 :hover{
        color: skyblue;
        border-bottom: 1px solid skyblue;
    }
     .collegepassyear{
        display: flex;
        flex-direction:row;
        width: 100%;
        justify-content: space-between;
    
    }
    input{
        border: none;
        outline: none;
        border-bottom: 1px solid rgb(128, 128, 128);
    }
    .college input{
        width: 100%;
    }
    
    .passingyear{
        width: 42%;
        
        height: 100%;
    }
    .passingyear input{
        width: 100%;
    }
    .college{
        width: 42%;
        height: 100%;
        
    } 
}

