@media screen and (min-width:260px) and (max-width:450px){
    .fs-container1{
        background-color: rgb(34, 29, 57);
        padding-top: 0px;
        padding-left: 5%;
        padding-right: 5%;
        text-align: left;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
     }
     .fs-container1-item1{
        width: 55%;
        padding-top: 80px;
     }
     .fs-container1-sub1{
        text-align: left;
        color: white;
        font-size: 16px;
     
     }
     .batch-selector-container{
        width: 100vw;
        height: 5rem;
        display: flex;
        flex-direction: row;
        gap: 5%;
        justify-content: center;
        margin-top:0% ;
        border-bottom: 1px solid grey;
     }
     
     .select-batch-label{
       
       width: 20%;
       display: flex;
       justify-content: center;
       align-items: center;
       color: grey;
       font-weight: bold;
       font-size: 18px;
     }
     .radio-group{
        display: flex;
        flex-direction: row;
        width: 30%;
        gap: 2%;
        justify-content: center;
        align-items: center;
     }
     .radio-group div{
        width: 70%;
        height: 80%;
        border: none;
        box-shadow: 1px 1px 10px grey;
        display: flex;
        align-items: center;
        justify-content: center;
     }
     .radio-group input{
        width: 25%;
        height: 30%;
        }
     
     .priceandenroll-items{
        display: flex;
        flex-direction: column;
        width: 20%;
        height: 100%;
     
        align-items: center;
        justify-content: space-between;
        gap: 2%;
     }
     .priceandenroll-items p{
        font-weight: bold;
        color:rgb(206, 50, 50);
        font-size: larger;
     }
     .priceandenroll-items span{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2%;
     }
     .priceandenroll-items span button{
        width: 45%;
        height: 80%;
        border: none;
        color: white;
        font-weight: bold;
     }
     
     
     
     
     
     .fs-container1-sub2{
        text-align: left;
        background-color: white;
        border-radius: 10px;
      
     
     }
     .fs-container1-sub3{
        margin-top: 20px;
        text-align: left;
        color: white;
        font-size: 28px; 
        margin-bottom: 20px;  
     
     }
     .fs-container1-sub4{
        text-align: left;
        color: white;
        font-size: 20px;
        margin-bottom:20px ;   
     
     }
     .fs-container1-sub5{
        
        color: rgb(246, 38, 135);
        font-size: 20px;
        margin-bottom:30px ;
        width:250px;
        height:50px;
        padding-top: 4px;
        padding-left: 12px;
        border: 1px solid rgb(246, 38, 135) ;  
        background-color: rgb(34, 29, 57);
        display: flex;
        justify-content: center;
        align-items: center;
     
     }
     .fs-container1-item2{
        width: 40%;
        margin-top: 100px;
        padding:100px ;
        align-items: center;
     }
     .fs-container1-sub6{
        border: 1px solid red;
        width: 100vw;
          margin:1%;
        border-color: white;
        height:50px;
        border-radius: 10px;
        font-size:16px;
        color:rgb(41, 41, 41);
        background-color: white;
        text-align: center;
        margin-bottom: 50px;
     }
     
     .fs-container1-sub6-text2{  
       
        font-size:14px;
        color:rgb(115, 115, 115);
        text-align: center;
     
     }
     .fs-container2{
        background-color: rgb(242, 242, 242);
        display: flex;
        flex-wrap: wrap;
        
     }
     .fs-container3{
        
        display: flex;
        flex-wrap: wrap;
        
        justify-content: space-around;
        padding-top:30px;
     }
     .fs-container3-sub1{
        width:40%;
       
        
        
        padding-top: 150px;
        padding-left: 5%;
        padding-right: 5%;
     }
     .fs-container3-sub1-text1{
        font-size: 30px;
        font-weight: 500;
     }
     .fs-container3-sub1-text2{
        padding-top: 10px;
        font-size: 18px;
        font-weight: 500;
        color: rgb(144, 143, 143);
     }
     .fs-container3-sub2{
        width:40%;
       
        
        
        /* padding-left: 5%;
        padding-right: 5%; */
     }
     .fs-container3-sub2-item1{
        
       
       width: 100%;
        
        
        /* padding-left: 5%;
        padding-right: 5%; */
     }
     .fs-container4{
        background-color: rgb(223, 223, 223);
     }
     .fs-container4-sub1{
        padding-top: 50px;
       font-size: 30px;
       text-align: center;
     }
     .fs-container4-sub2{
        font-size: 18px;
        text-align: center;
        color: rgb(158, 158, 158);
     }
     .fs-container4-sub3{
        margin-top: 50px;
        display: flex;
        padding: 5%;
        justify-content: space-around;
        
     }
     .fs-container4-sub3-item1{
        width:30%;
        border-right: 1px solid grey;
        
        padding-left: 5%;
        
        
     }
     .fs-container4-sub3-item1-sty1{
        position: relative;
        width:250px;
        height:60px;
        padding-top: 25px;
        padding-left: 20px;
        font-size: 20px;
        color: white;
        background-image: linear-gradient(to right,rgb(114, 114, 157), rgb(1, 1, 113));
     }
     .fs-container4-sub3-item1-sty2{
        border: 3px solid orange;
        border-radius: 70px;
        width:50px;
        height:50px;
        padding: 10px;
        position: absolute;
        top:-50px;
        left:-40px;
     }
     .fs-container4-sub3-item1-sty3{
        
        width:50px;
        height: 50px;
        border-radius: 50px;
        background-color: white;
        font-size: 35px;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        
     }
     .fs-container4-sub3-item2-sty1{
        margin-top: 60px;
        position: relative;
        width:250px;
        height:60px;
        padding-top: 25px;
        padding-left: 20px;
        font-size: 20px;
        color: white;
        background-color: rgb(186, 186, 186);
        border-radius: 10px;
        
     }
     .fs-container4-sub3-item2{
        width:60%;
        }
     .fs-container4-sub3-item2-insub{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10%;
        margin-top: 10%;
     }
     .fs-container4-sub3-item2-insub1{
        width:45%;
        
        /* padding: 5%; */
        
        
     }
     .fs-container4-sub3-item2-insub1-style1{
        text-align: left;
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 50px;
     }
     .fs-container4-sub3-item2-insub1-style2{
        font-size: 18px;
        text-align: left;
        color: rgb(113, 113, 113);
        font-weight: 400;
        margin-top: 20px;
     }
     .fs-container4-sub3-item2-insub2{
        width:41%;
     
        
     
     }
     .fs-container4-sub3-item2-insub1-style2-style{
        margin-top: 80px;
     }
     .fs-container4-sub3-item2-insub{
        width:100%;
     }
     .fs-container5{
        background-color: whitesmoke;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 50px;
        padding-bottom: 50px;
     }
     .fs-container5-sub1{
        width: 50%;
     }
     .fs-container5-sub1-imgsize{
        width:100%
     }
     .fs-container5-sub2{
        width: 40%;
        padding: 5%;
        
     }
     .fs-container5-sub2-sty1{
        font-size: 30px;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 50px;
        
     }
     .fs-container5-sub2-sty2{
        font-size: 18px;
        color: rgb(64, 63, 63);
     }
     .fs-container5-sub2-sty2-sub{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 30px;
        text-align: left;
        
     }
     .fs-container5-sub2-sty2-sub-text1{
        font: 18px;
        color: rgb(53, 53, 53);
        padding-top: 10px;
     }
     .fs-container5-sub2-sty2-padding{
        text-align: left;
     }
     .fs-container6{
        background-color: rgb(208, 208, 208);
        padding-top: 50px;
        padding-bottom: 50px;
     }
     .fs-container6-sub1{
        color: rgb(0, 53, 74);
        font-size: 28px;
        padding-bottom: 50px;
        text-align: center;
     }
     .fs-container6-sub2{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
     }
     .fs-container6-sub2-items{
        background-image: linear-gradient(to bottom, rgb(173, 201, 237),rgb(227, 227, 227));
        width:300px;
        padding: 5px;
        height:400px;
     
     }
     
     .fs-container6-sub2-items-text2{
        color: rgb(46, 46, 112);
         font-size: 24px;
         margin-top: 10px;
     }
     .fs-container6-sub2-items-text3{
        margin-top: 30px;
        color: rgba(106,127,134,.9294117647058824);
         text-align: center;
         margin-bottom: 50px;
     }
     .fs-container6-sub2-items-text4{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
     }
     .imgs-container{
        
        margin-bottom: 10px;
     }
     .fs-container7{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: 50px;
        
        padding-bottom: 50px;
     }
     .fs-container7-sub1{
        width: 50%;
        font-size: 28px;
        font-weight: 600;
     
     }
     .fs-container7-sub1-item1{
        display: flex;
        justify-content: space-around;
        margin-top: 70px;
     }
     .fs-container7-sub1-item1-sub{
        display: flex;
        justify-content: space-around;
        width:320px;
     
     }
     .fs-container7-sub1-item1-sub-sty1{
        font-size: 18px;
        font-weight: 500;
        color: rgb(52, 52, 52);
        padding-bottom: 10px;
     }
     .fs-container7-sub1-item1-sub-sty2{
        font-size: 14px;
        
     }
     .fs-container7-sub2{
        width: 40%;
        font-size: 28px;
        font-weight: 600;
        
     }
     .fs-container8{
        background-image: linear-gradient(to right,rgb(51, 51, 200),rgb(1, 1, 20));
        padding-top: 60px;
        padding-bottom: 60px;
     
     }
     .fs-container8-sub1{
        font-size: 28px;
        font-weight: 600px;
        color: white;
        padding-bottom: 50px;
     
     }
     .fs-container8-sub2{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
     }
     .fs-container8-sub2-items{
        position: relative;
        background-color: white;
        width:320px;
        height: auto;
        border: 1px solid white;
        border-radius: 10px;
       
     }
     .fs-container8-sub2-items-styl1{
        position: absolute;
        background-color: white;
        width:100px;
        height: 100px;
        border-radius: 100px;
        top: -50px;
        left:100px;
        
     }
     .fs-container8-sub2-items-styl2{
        margin-top: 80px;
        color: rgb(54, 54, 54);
        background-color: white;
        font-size: 22px;
        padding-left: 20px;
        padding-right: 20px;
        
     }
     .fs-container8-sub2-items-styl3{
        margin-top: 20px;
        color: rgb(131, 131, 131);
        background-color: white;
        font-size: 18px;
        margin-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
     }
     
     /* .fs-container8-sub2-items-styl4{
        height:10px;
        width: auto;
        position: absolute;
        bottom: 0px;
        left: 0px;
        
        background-color: orange;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        
     } */
     .fs-container9{
        margin-top: 50px;
        padding-left:50px;
        padding-right:50px;
        font-size: 28px;
        text-align: center;
        margin-bottom: 30px;
     }
     .fs-container10{
        padding-left:50px;
        padding-right:50px;
        font-size: 18px;
        text-align: left;
        color: rgb(86, 86, 86);
        margin-bottom: 50px;
     }
     .fs-container11{
        padding-left: 5%;
        padding-right: 5%;
       
     }
     .fs-container11-sub{
        background-image: linear-gradient(to right,rgb(43, 74, 139),rgb(0, 0, 13));
        color: white;
        position: relative;
        padding: 20px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
     }
     .fs-container11-sub1{
        font-size: 20px;
        text-align: left;
        padding-bottom: 40px;
     }
     .fs-container11-sub2{
        font-size: 20px;
        text-align: left;
        padding-bottom: 30px;
     }
     .fs-container11-sub3{
        position: absolute;
        border:1px solid orange ;
        width:15%;
        height:30px;
        border-radius:30px; 
        color: white;
        background-color: rgb(0, 0, 13);
        right:1rem;
        top:1rem;
     }
     .fs-container11-sub4{
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: white;
     
     }
     .fs-container11-sub4-sty1{
        font-size: 22px;
        color: grey;
     
     }
     .fs-container11-sub4-sty2{
        border:none;
        border-radius: 5px;
        height:25px;
     
     }
     
     .fs-container-12{
        width: 80vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5%;
        margin-top: 2%;
        margin: auto;
        justify-content: center;
        align-items: center;
       margin-top: 10%;
      
        
        
     }
     
     
     .fs-container-12-item-1{
        width:28%;
        margin-bottom: 2%;
        background: transparent linear-gradient(180deg,#d0dee9,#fff) 0 0 no-repeat padding-box;
       border-radius: 5px;
        height: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10%;
     }
     .fs-container-12-item-1 img{
        width: 50%;
     }
     .fs-container-12-item-1 h5{
        font-size: 28px;
        font-weight: 500;
     }
     .fs-container-12-item-1 p{
        font-weight: 500;
        text-align: center;
        color: grey;
        width: 80%;
     }
     
     .fs-container-13{
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;
        
       margin-top: 10%;
       background: white;
        
     
     }
     .fs-container-13-left{
        width: 50%;
        height: 35rem;
     
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        gap: 1%;
     }
     .fs-container-13-left p{
        color: rgba(10,45,71,.9294117647058824);
         font-size: 30px;
         margin-top: 50px;
         margin-bottom: 80px;
         text-align: center;
     }
     .fs-container-13-left-img-text{
        width: 80%;
        height: 68%;
        
        display: flex;
        flex-direction: column;
        gap: 3%;
        justify-content: center;
        align-items: center;
     }
     .fs-container-13-left-img-text span{
        width: 90%;
        height: 25%;
     
        display: flex;
        flex-direction: row;
        gap: 10%;
        
     }
     .fs-container-13-left-img-text span img{
        width: 15%;
        height: 100%;
     }
     .fs-container-13-left-img-text span p{
        color: rgba(72,55,55,.9294117647058824);
        font-size: 18px;
        margin: auto;
     }
     
     
     
     
     .fs-container-13-left img{
        width: 100%;
        height: 100%;
     }
     .fs-container-13-right{
        width: 50%;
        height: 35rem;
     
        background: rgba(244,163,76,.9294117647058824);
        display: flex;
        flex-direction: column;
        gap: 3%;
        text-align: center;
        justify-content: center;
        align-items: center;
     }
     
     .fs-container-13-right h2{
        color: rgba(10,45,71,.9294117647058824);
        font-size: 24px;
        margin-top: 50px;
        margin-bottom: 20px;
        text-align: center;
     }
     .fs-container-13-right p{
        color: hsla(0,0%,100%,.9294117647058824);
         text-align: center;
     }
     .fs-container-13-right div{
        width: 85%;
        height: 65%;
        
     }
     .fs-container-13-right div img{
        width: 100%;
        height: 100%;
     }
     
     
     .fs-container-14{
        width: 100vw;
        height: 35rem;
        
        display: flex;
        
      justify-content: center;
      align-items: center;
        background: transparent linear-gradient(89deg,rgba(45,111,162,.8862745098039215),rgba(2,9,14,.9294117647058824)) 0 0 no-repeat padding-box;
     }
     .fs-container-14-card{
        width: 95%;
        height: 30rem;
        background: white;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
     }
     .fs-container-14-left{
        width: 50%;
        height: 80%;
       border-right: 1px solid grey;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10%;
     }
     .fs-container-14-left div{
        width: 28%;
        height: 30%;
        display: flex;
        flex-direction: column;
        gap: 10%;
        justify-content: center;
        align-items: center;
     
     }
     
     .fs-container-14-left div p{
        color: grey;
        font-weight: lighter;
     }
     .fs-container-14-left div h2{
        letter-spacing: 0;
         font-weight: 600;
         color: #424242;
         font-size: 14px;
     }
     .fs-container-14-right{
        width: 50%;
        height: 100%;
     
        display: flex;
        flex-direction: column;
        gap: 10%;
     }
     .fs-container-14-right p{
        text-align: center;
        color: rgba(10,45,71,.9294117647058824);
        font-size: 24px;
        margin-bottom: 30px;
        margin-top: 10%;
     }
     .fs-container-14-right div{
        width: 95%;
        height: 15%;
        
        display: flex;
        flex-direction: column;
        padding: 0px 10px;
     }
     .emailinput{
        width: 100%;
        height: 40%;
        border: none;
        border-bottom: 1px solid grey;
        outline: none;
     }
     .getintouchbtn{
        width: 30%;
        height: 10%;
        margin-bottom: 10%;
        margin: auto;
        border: none;
        border: 1px solid  #ff219f;
        color:  #ff219f;
        font-size: 18px;
        background: white;
     }
}